@import url("https://fonts.googleapis.com/css?family=Arapey");

body {
  margin: 0;
  font-family: "Arapey";
}

h1 {
  font-size: 2em;
  text-align: center;
  margin-top: 30%;
}

section {
  padding: 3em;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
}

.sticky {
  background: #999;
}

blockquote {
  font-size: 2em;

  width: 30%;
  margin-top: 17%;
  position: absolute;
}

span {
  width: 100%;
  background: red;
  display: block;
  height: 5px;
  margin-top: 20px;
}
